body{font:8pt tahoma,arial,sans-serif;margin:0;background:#f0f1f2;color:#444444}
.dialogFooter{background-color:#efefef;border-top:#e6e6e6 1px solid;}
td{font-size:8pt}
input {font:8pt tahoma,arial,sans-serif}
select {font:8pt tahoma,arial,sans-serif}
textarea {font:8pt tahoma,arial,sans-serif}
.inpSel {font:8pt tahoma,arial,sans-serif}
.inpTxt {font:8pt tahoma,arial,sans-serif;} 
.inpChk {width:13;height:13;margin-right:3;margin-bottom:1}
.inpRdo {width:13;height:13;margin-right:3;margin-bottom:1}
.inpBtn {font:8pt tahoma,arial,sans-serif;}
.inpBtnOver {}
.inpBtnOut {}


/* Tailwind Overrides */
img { display: inline-block !important; max-width: none !important; height: auto !important; border: 0 !important; margin: 0 !important; padding: 0 !important; }
table { border-collapse: separate !important; border-spacing: 2px !important; border: 0 !important; }
td { border: 0 !important; padding: 1px !important; }
.inpBtn, .inpBtnOver, .inpBtnOut { box-sizing: content-box !important; width: 20px !important; height: 20px !important; }
select { background-color: white !important; color: black !important; border: 1px solid #7F9DB9 !important; display: inline-block !important; }
input, textarea { color: black !important; background-color: white !important; border: 1px solid #7F9DB9 !important; }
